<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<div align="center">
		 


			{% if variables.albumTitle %}
				<h1>{{ variables.albumTitle }}</h1>
			{% else %}
				<h1>Album bez tytułu</h1>
			{% endif %}



		
			{% for photo in variables.photos %}
					<p><img src="{{ photo }}" class="img-circle" width="70%" /></p>
					<p></p>
			{% endfor %}
		</div>
	</body>
</html>